target/
build/
*/nb-configuration.xml
*/nb*.xml
nbproject/
*~
.DS_Store
.classpath
.project
.settings
.idea
*sublime-project
*sublime-workspace
MYMETA.*
Build
_build
blib
.idea
*.iml
bower_components
node_modules
